@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --white : #FFFFFF;
    --gray  : #414040;
    --yellow: #FFE500;
    --purple: #9002F4;
    --dark  : #141414;
    --black : #111111;
  }
  
  ::-webkit-scrollbar{
    width: 5px;
  }
  
  ::-webkit-scrollbar-track{
    background: var(--dark)
  }
  ::-webkit-scrollbar-thumb{
    background: var(--white);
  }
  
  body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  h1,h2,h3{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
  }
  
  h4,h5,h6{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  p{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }